<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.scourt.iros.mapper.MemberMapper">

	<insert id="insertOfficer">
		insert into `scourt_db`.`officer` (`name`,
		`birthday`, `rank`,
		`location`, `office_number`, `phone_number`,
		`initday`, `department`)
		values
		(#{name},#{birthday},#{rank},#{location},#{office_number},#{phone_number},#{initday},#{department});
	</insert>

	<!-- 리스트보기 -->
	<select id="selectOfficer" resultType="OfficerVO">
        select o.id, o.name, o.birthday, o.initday, o.rank, d.name as departmentName, o.location, o.office_number, o.phone_number from scourt_db.officer as o, scourt_db.department as d where o.department = d.id
	</select>
	
	<!-- 삭제하기 -->
	<delete id="deleteOfficer">
		delete from officer where id = #{id}
	</delete>

	<!-- 수정하기 -->
	<update id="updateOfficer">
		update officer set name=#{name},birthday =
		#{birthday},rank = #{rank},location = #{location},office_number =
		#{office_number},phone_number = #{phone_number},
		initday = #{initday},department = #{department}
		where
		id = #{id}
	</update>
	
	<select id="searchOfficer" parameterType="hashmap" resultType="OfficerVO">
   			select o.id, o.name, o.birthday, o.initday, o.rank, d.name as departmentName, o.location, o.office_number, o.phone_number 
   			from scourt_db.officer as o, scourt_db.department as d 
   			where o.department = d.id 
			<if test="keyword != null and keyword != ''">
		        <choose>
		            <when test="option == 'name'">
						and	o.name like CONCAT('%',#{keyword},'%') 
					</when>
		            <when test="option == 'rank'">
						and o.rank like CONCAT('%',#{keyword},'%')
					</when>
					<when test="option == 'department'">
						and	departmentName like CONCAT('%',#{keyword},'%')
					</when>
					<when test="option == 'number'">
						and	o.office_number like CONCAT('%',#{keyword},'%')
					</when>
					<otherwise></otherwise>
				</choose>
			</if>
			limit #{firstList}, #{listSize};
	</select>
	
	<select id="searchOfficerCounter" parameterType="hashmap" resultType="int">
   			select count(*) 
   			from scourt_db.officer as o, scourt_db.department as d 
   			where o.department = d.id 
			<if test="keyword != null and keyword != ''">
		        <choose>
		            <when test="option == 'name'">
						and	o.name like CONCAT('%',#{keyword},'%') 
					</when>
		            <when test="option == 'rank'">
						and o.rank like CONCAT('%',#{keyword},'%')
					</when>
					<when test="option == 'department'">
						and	departmentName like CONCAT('%',#{keyword},'%')
					</when>
					<when test="option == 'number'">
						and	o.office_number like CONCAT('%',#{keyword},'%')
					</when>
					<otherwise></otherwise>
				</choose>
			</if>
	</select>

</mapper>

